doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel="apple-touch-icon-precomposed", sizes="57x57", href="./favicon/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="./favicon/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="./favicon/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="./favicon/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon-precomposed", sizes="60x60", href="./favicon/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon-precomposed", sizes="120x120", href="./favicon/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon-precomposed", sizes="76x76", href="./favicon/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon-precomposed", sizes="152x152", href="./favicon/apple-touch-icon-152x152.png")
    link(rel="icon" type="image/png", href="./favicon/favicon-196x196.png", sizes="196x196")
    link(rel="icon" type="image/png", href="./favicon/favicon-96x96.png", sizes="96x96")
    link(rel="icon" type="image/png", href="./favicon/favicon-32x32.png", sizes="32x32")
    link(rel="icon" type="image/png", href="./favicon/favicon-16x16.png", sizes="16x16")
    link(rel="icon" type="image/png", href="./favicon/favicon-128.png", sizes="128x128")
    meta(name="application-name", content="&nbsp;")
    meta(name="msapplication-TileColor", content="#FFFFFF")
    meta(name="msapplication-TileImage", content="./favicon/mstile-144x144.png")
    meta(name="msapplication-square70x70logo", content="./favicon/mstile-70x70.png")
    meta(name="msapplication-square150x150logo", content="./favicon/mstile-150x150.png")
    meta(name="msapplication-wide310x150logo", content="./favicon/mstile-310x150.png")
    meta(name="msapplication-square310x310logo", content="./favicon/mstile-310x310.png")
  body
    div(class="container")
      h3 API Project: #{title}
      div(class="row")
        div(class="ten columns")
          p The api parses requests that are sent to it.
          p If a request hits the end point, the request headers are parsed and the client Ip Address, preferred languages and User-Agent are obtained and sent as the response.

          h3 User Story
          p I can get the IP address, language and operating system for my browser.

          h4 Usage
          p !{' '}
            a(href="/api/whoami", target="_blank") #{projectUrl}/api/whoami
            br
            pre
              code
                |
                | {
                |     ipaddress: "207.244.79.137",
                |     language: "en-US,en;q=0.9",
                |     software: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.139 Safari/537.36"
                | }
                |
                |
    div(class="container")
      footer(class="footer")
        div built by!{' '}
          a(href="https://github.com/ceoehis", target="_blank") <strong>celestine</strong>
        div view source code on!{' '}
          a(href="https://github.com/CEOehis/header-parser-microservice", target="_blank") <strong>Github</strong>